.map-container {
    width: 80%;
    margin: 0 auto;
}

.storelocator-panel {
  border: 1px solid #ccc;
  overflow: auto;
  background: #fff;
}

.storelocator-panel .store-list {
  margin: 10px;
  padding: 0px;
  list-style-type: none;
}

.storelocator-panel .store-list li,
.storelocator-panel .directions-panel {
  padding: 10px;
}
.storelocator-panel .directions-panel {
  font-size: 0.8em;
}

.storelocator-panel .store-list li.store:hover {
  cursor: pointer;
  background: #eee;
}

.storelocator-panel .store-list li.highlighted,
.storelocator-panel .store-list li.highlighted:hover {
  background: rgb(204, 204, 204);
}

.storelocator-panel .directions {
  display: none;
}

.storelocator-panel .location-search {
  padding: 15px;
  background-color: #292929;
}

.storelocator-panel .location-search input {
  width: 80%;
  padding: 5px 5px;
}

.storelocator-panel .location-search h4 {
  margin-bottom: 10px;
  color: #fff;
  font-family: "Forza SSm A", "Forza SSm B" !important;
  text-transform: uppercase;
  font-size: 16px !Important;
  line-height: 24px !Important;
}

.storelocator-panel .store-list .no-stores {
  color: grey;
}

.storelocator-panel .store .features {
  display: none;
}

.storelocator-panel .feature-filter {
  overflow: hidden;
}

.storelocator-panel .feature-filter label {
  display: block;
  font-size: 0.8em;
  margin: 0 0.4em;
  float: left;
}

.store .title {
  font-family: "Knockout 31 A", "Knockout 31 B" !important;
  font-weight: 400 !important;
  font-style: normal !important;
  color: #262626;
  height: auto;
  line-height: 22px;
  font-size: 16px;
  text-transform: uppercase;
}

.store .address,
.store .phone,
.store .web,
.store .misc {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 0.5em;
  display: block;
  line-height: 16px;
  color: #262626;
  opacity: 0.7;
  font-family: "Knockout 31 A", "Knockout 31 B" !important;
}

.storelocator-panel .store-list .no-stores {
  color: grey;
  line-height: 17px;
  margin-top: 10px;
}

.store .address a{
  color: #EF3125;
}

.store .features {
  overflow: hidden;
  color: grey;
  margin: 0;
  padding: 0;
  font-size: 70%;
  max-width: 250px;
}

.store .features li {
  display: inline;
  float: left;
  padding-right: 0.8em;
}

.store .web a {
  color: green
}

.store .action {
  font-size: 0.8em;
  color: green;
  margin-right: 0.5em;
}
